@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
.on {
  display: block !important;
}

.headerSectionOn {
  position: relative;
  height: auto;
  z-index: 1;
  border-bottom: 1px solid #efefef;
  background-color: white;
}

.logoStyle {
  font-family: 'Kanit', sans-serif !important;
  font-style: italic;
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

* {
  font-family: 'Noto Sans KR', sans-serif !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.wrap header {
  width: 100%;
  height: 136px;
  background-color: white;
}

.wrap header section .top p {
  padding: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

.wrap header section .inner {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

.wrap header section .inner h1 {
  float: left;
  margin-top: 30px;
  margin-right: 70px;
}

.wrap header section .inner h1 a {
  font-size: 2rem;
  font-weight: bold;
}

.wrap header section .inner nav {
  float: left;
  position: relative;
}

.wrap header section .inner nav .gnb {
  float: left;
}

.wrap header section .inner nav .gnb > li {
  float: left;
}

.wrap header section .inner nav .gnb > li > a {
  display: block;
  padding: 40px 54px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.wrap header section .inner nav .gnb > li > a:hover {
  color: #9009b7;
}

.wrap header section .inner nav .gnb > li .depth {
  display: none;
  position: relative;
  z-index: 3;
  border-top: 1px solid #efefef;
}

.wrap header section .inner nav .gnb > li .depth > ul {
  height: 280px;
  border-right: 1px solid #efefef;
  background-color: white;
}

.wrap header section .inner nav .gnb > li .depth > ul > li a {
  display: block;
  padding: 20px;
  text-align: center;
}

.wrap header section .inner nav .gnb > li .depth > ul > li a:hover {
  font-weight: bold;
}

.wrap header section .inner nav .gnb > li:first-child .depth > ul {
  border-left: 1px solid #efefef;
}

.wrap header section .inner nav .gnb > li:last-child {
  margin-right: 0;
}

.wrap header section .inner .util {
  float: right;
}

.wrap header section .inner .util li {
  float: left;
  margin-top: 40px;
  margin-right: 30px;
  position: relative;
}

.wrap header section .inner .util li .allMenu {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/iconPack.png);
  background-position: 150px 0;
}

.wrap header section .inner .util li:last-child {
  margin-top: 25px;
  margin-left: 50px;
}

.wrap header section .inner .util li:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  width: 1px;
  height: 20px;
  background-color: black;
}

.wrap header section .line {
  position: absolute;
  top: 136px;
  width: 100%;
  height: 1px;
  background-color: #efefef;
  z-index: 2;
}

.wrap main .visual {
  width: 100%;
  height: 500px;
}

.wrap main .visual .inner {
  width: 1200px;
  margin: auto;
}

.wrap main .visual .inner .slide {
  position: relative;
  overflow: hidden;
}

.wrap main .visual .inner .slide button {
  position: absolute;
  top: calc(50% - 80px);
  z-index: 1;
}

.wrap main .visual .inner .slide .prevBtn {
  left: 20px;
}

.wrap main .visual .inner .slide .nextBtn {
  right: 20px;
}

.wrap main .visual .inner .slide .contents {
  width: 10000px;
  height: 600px;
}

.wrap main .visual .inner .slide .contents ul li {
  float: left;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrap main .visual .inner .slide .contents ul li img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */