// Import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); // 'Noto Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); // 'Fira Mono', monospace;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');

// Breakpoint variable
$lg: 1200px;
$md: 770px;

// Color variable
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(239, 239, 239);
$darkgray: rgb(102, 102, 102);
$point: rgb(144, 9, 183);
$lightpoint: rgb(202, 82, 240);

// Common class
.on {
    display: block !important;
}

.off {
    display: none !important;
}

.headerSectionOn {
    position: relative;
    height: auto;
    z-index: 1;
    border-bottom: 1px solid $gray;
    background-color: $white;
}

.logoStyle {
    font: {
        family: 'Kanit', sans-serif !important;
        style: italic;
    }
}

.active {
    z-index: 3;
}

.warning {
    display: none;
    margin-bottom: 20px;
    text-align: center;
    color: red;
    font-size: 0.9rem;
}

.hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

// Mixin
@mixin ellipsis($lineCnt) {
    display: -webkit-box;
    -webkit-line-clamp: $lineCnt;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap:break-word; 
}

// Common css
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

input, 
textarea, 
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

// start
.wrap {
    header {
        position: relative;
        width: 100%;
        height: 136px;
        background-color: $white;
        z-index: 9;
        // border 줘도 아래 section에 background주면 덮어져서 안보임.
        section {
            .top {
                p {
                    padding: 10px;
                    background-color: $black;
                    text-align: center;
                    color: $white;
                }
            }
            .inner {
                width: 1200px;
                margin: auto;
                overflow: hidden;
                h1 {
                    float: left;
                    margin-top: 30px;
                    margin-right: 70px;
                    a {
                        font: {
                            size: 2rem;
                            weight: bold;
                        }
                    }
                }
                nav {
                    float: left;
                    position: relative;
                    .gnb { // 메인 메뉴
                        float: left;
                        > li {
                            float: left;
                            > a {
                                display: block;
                                padding: 40px 54px;
                                text-align: center;
                                font: {
                                    size: 1.3rem;
                                    weight: bold;
                                }
                                &:hover {
                                    color: $point;
                                }
                            }
                            .depth { // 2depth 메뉴
                                display: none;
                                position: relative;
                                z-index: 3;
                                border-top: 1px solid $gray;
                                > ul {
                                    height: 280px;
                                    border-right: 1px solid $gray;
                                    background-color: $white;
                                    > li {
                                        a {
                                            display: block;
                                            padding: 20px;
                                            text-align: center;
                                            &:hover {
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                            &:first-child {
                                .depth {
                                    > ul {
                                        border-left: 1px solid $gray;
                                    }
                                }
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .util {
                    float: right;
                    li {
                        float: left;
                        margin-top: 40px;
                        margin-right: 30px;
                        position: relative;
                        .allMenu {
                            display: block;
                            width: 50px;
                            height: 50px;
                            background-image: url(../img/iconPack.png);
                            background-position: 150px 0;
                        }
                        &:last-child {
                            margin-top: 25px;
                            margin-left: 50px;
                        }
                        &:first-child:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: -15px;
                            display: block;
                            width: 1px;
                            height: 20px;
                            background-color: $black;
                        }
                    }
                }
            }
            .line {
                position: absolute;
                top: 136px;
                width: 100%;
                height: 1px;
                background-color: $gray;
                z-index: 2;
            }
        }
        @media screen and (max-width: $lg) {
            height: 100px;
            section {
                .inner {
                    width: 100%;
                    h1 {
                        float: none;
                        width: 100%;
                        margin-top: 15px;
                        margin-right: 0;
                        text-align: center;
                    }
                    nav,
                    .util {
                        display: none;
                    }
                }
                .line {
                    top: 100px;
                }
            }
        }
    }
    main {
        .visual {
            width: 100%;
            height: 500px;
            background-color: $black;
            transition: all 0.5s;
            overflow: hidden;
            .inner {
                width: 1200px;
                height: 100%;
                margin: auto;
                .slider {
                    position: relative;
                    overflow: hidden;
                    button {
                        position: absolute;
                        top: calc(50% - 39px);
                        padding: 20px;
                        background-color: rgba(0, 0, 0, 0.1);
                        z-index: 4;
                        svg {
                            width: 60px;
                            height: 80px;
                        }
                    }
                    .prevBtn {
                        left: calc(50% - 600px);
                    }
                    .nextBtn {
                        right: calc(50% - 600px);
                    }
                    .contents {
                        position: relative;
                        width: 500%;
                        transition: all 0.5s;
                        .slide {
                            float: left;
                        }
                    }
                }
            }
        }
        .info {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            .inner {
                width: 1200px;
                padding: 80px;
                margin: auto;
                overflow: hidden;
                h3 {
                    float: left;
                    margin-right: 150px;
                    line-height: 1.5;
                    font: {
                        size: 1.8rem;
                        weight: bold;
                    }
                }
                .box {
                    float: left;
                    width: 700px;
                    .category {
                        float: left;
                        width: 45%;
                        position: relative;
                        .title {
                            display: block;
                            margin-bottom: 15px;
                            padding-bottom: 15px;
                            border-bottom: 1px solid $black;
                            font: {
                                size: 1.2rem;
                                weight: bold;
                            }
                        }
                        .contents {
                            .text {
                                @include ellipsis(3);
                                line-height: 1.2;
                                overflow: hidden;
                                
                            }
                        }
                        &:after {
                            content: '+';
                            display: block;
                            position: absolute;
                            top: -8px;
                            right: 3px;
                            font-size: 2rem;

                        }
                    }
                    .category1 {
                        margin-right: 10%;
                    }
                }
            }
        }
        .quiz {
            background-color: $gray;
            .inner {
                width: 800px;
                padding: 30px; // 80으로바꾸기
                margin: auto;
                overflow: hidden;
                h3 {
                    margin-bottom: 30px;
                    text-align: center;
                    font: {
                        size: 1.8rem;
                        weight: bold;
                    }
                }
                .box {
                    border-radius: 10px;
                    background-color: $white;
                    .startArea {
                        padding: 50px;
                        img {
                            display: block;
                            width: 50%;
                            margin: auto;
                        }
                        p {
                            margin: 10px 0;
                            text-align: center;
                            line-height: 1.5;
                            color: $darkgray;
                            font: {
                                size: 0.9rem;
                                style: italic;
                            }
                        }
                        .quizStartBtn {
                            display: block;
                            margin: auto;
                            margin-top: 20px;
                            padding: 15px 30px;
                            background-color: $point;
                            color: $white;
                        }
                    }
                    .questionArea {
                        display: none;
                        padding: 30px;
                        .questionTitle {
                            text-align: center;
                            color: $darkgray;
                            font: {
                                size: 1.1rem;
                                style: italic;
                            }
                        }
                        .index {
                            display: block;
                            width: 50px;
                            margin: auto;
                            margin-bottom: 20px;
                            padding: 5px;
                            border-radius: 10px;
                            background-color: #efefef;
                            text-align: center;
                            font-size: 0.9rem;
                        }
                        .selectArea {
                            margin: 20px 0;
                            text-align: center;
                            .questionBtn {
                                display: block;
                                width: 300px;
                                margin: auto;
                                padding: 10px;
                                border: 1px solid $point;
                                border-radius: 10px;
                                color: $point;
                                &:first-child {
                                    margin-bottom: 10px;
                                }
                                &:hover,
                                &.selected {
                                    border: 1px solid $point;
                                    background-color: $point;
                                    color: $white;
                                }
                            }
                        }
                        .nextQuestionBtn {
                            display: block;
                            margin-top: 20px;
                            margin: auto;
                            padding: 10px 30px;
                            background-color: $black;
                            color: $white;
                        }
                    }
                    .resultArea {
                        display: none;
                        padding: 30px;
                        overflow: hidden;
                        p {
                            text-align: center;
                            font-size: 1.1rem;
                        }
                        strong {
                            display: block;
                            margin: 20px;
                            text-align: center;
                            font: {
                                size: 1.5rem;
                                weight: bold;
                            }
                        }
                        span {
                            display: block;
                            text-align: center;
                        }
                        img {
                            display: block;
                            width: 50%;
                            margin: auto;
                        }
                    }
                }
            }
        }
        .plan {
            .inner {
                width: 1200px;
                padding: 80px;
                margin: auto;
                h3 {
                    padding-bottom: 30px;
                    text-align: center;
                    font: {
                        size: 1.8rem;
                        weight: bold;
                    }
                }
                .boxs {
                    .box {
                        width: 630px;
                        margin: auto;
                        margin-top: 50px;
                        margin-bottom: 50px;
                        .item {
                            p {
                                position: relative;
                                margin-bottom: 20px;
                                font: {
                                    size: 1.5rem;
                                    weight: bold;
                                }
                                .answer {
                                    display: inline-block;
                                    position: relative;
                                    width: 50px;
                                    top: 3px;
                                    border-bottom: 2px solid $black;
                                }
                            }
                            .area {
                                position: relative;
                                margin-left: 20px;
                                margin-right: 10px;
                                font-size: 1.2rem;
                                input[type="radio"] {
                                    margin-right: 5px;
                                    padding: 10px;
                                    border: 1px solid $black;
                                    color: $white;
                                    &:checked {
                                        background-color: $point;
                                    }
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                label {
                                    position: relative;
                                    top: -4px;
                                }
                                input[type="text"] {
                                    position: relative;
                                    top: -4px;
                                    width: 60px;
                                    border: 0;
                                    border-bottom: 2px solid $black;
                                    font-size: 1.2rem;
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                ul {
                                    display: inline-block;
                                    position: absolute;
                                    top: -6px;
                                    right: -65px;
                                    li {
                                        display: none;
                                        padding: 9px;
                                        padding-right: 30px;
                                        cursor: pointer;
                                        &:first-child:after {
                                            content: '▼';
                                            display: block;
                                            position: absolute;
                                            top: 13px;
                                            right: 9px;
                                            font-size: 0.8rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    button {
                        display: block;
                        margin: auto;
                        padding: 15px 30px;
                        background-color: $point;
                        color: $white;
                    }
                }
                .result {
                    display: none;
                    padding: 30px;
                    p {
                        margin-bottom: 10px;
                        text-align: center;
                        font-size: 1.6rem;
                    }
                    strong {
                        display: block;
                        text-align: center;
                        line-height: 1.5;
                        text-decoration: underline;
                        color: $point;
                        font: {
                            size: 1.8rem;
                            weight: bold;
                        }
                    }
                    table {
                        margin: auto;
                        margin-top: 30px;
                        font-size: 1.2rem;
                        tr {
                            border: 1px solid $black;
                            text-align: center;
                            th {
                                padding: 10px 20px;
                                font-weight: bold;
                            }
                            td {
                                padding: 10px 20px;
                            }
                            th:nth-child(1),
                            th:nth-child(2),
                            th:nth-child(3),
                            td:nth-child(1),
                            td:nth-child(2),
                            td:nth-child(3), {
                                border-right: 1px solid $black;
                            }
                        }
                    }
                    .planResetBtn {
                        display: block;
                        margin: auto;
                        margin-top: 50px;
                        padding: 15px 30px;
                        background-color: $point;
                        color: $white;
                    }
                }
            }
        }
        @media screen and (max-width: $lg) {
            .visual {
                height: auto;
                .inner {
                    width: 100%;
                    .slider {
                        .prevBtn {
                            left: 2%;
                        }
                        .contents {
                            .slide {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .nextBtn {
                            right: 2%;
                        }
                    }
                }
            }
            .info {
                .inner {
                    width: 100%;
                    padding: 50px 30px;
                    h3 {
                        float: none;
                        margin-right: 0;
                        margin-bottom: 50px;
                        text-align: center;
                        font-size: 1.5rem;
                    }
                    .box {
                        float: none;
                        width: 100%;
                    }
                }
            }
            .quiz {
                .inner {
                    width: 100%;
                    padding: 50px 30px;
                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }
            .plan {
                .inner {
                    width: 100%;
                    padding: 50px 30px;
                    h3 {
                        font-size: 1.5rem;
                    }
                    .boxs {
                        .box {
                            width: auto;
                            .item {
                                p {
                                    text-align: center;
                                    font-size: 1.2rem;
                                }
                                .areas {
                                    display: table;
                                    margin: auto;
                                }
                            }
                        }
                    }
                    .result {
                        p {
                            font-size: 1.3rem;
                        }
                        .recommendPlan {
                            font-size: 1.4rem;
                        }
                        table {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $md) {
            .visual {
                .inner {
                    .slider {
                        button {
                            svg {
                                width: 30px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
            .info {
                .inner {
                    .box {
                        .category {
                            float: none;
                            width: 100%;
                        }
                        .category1 {
                            margin-right: 0;
                            margin-bottom: 50px;
                        }
                    }
                }
            }
            .quiz {
                .inner {
                    .box {
                        .startArea {
                            img {
                                width: 80%;
                            }
                        }
                        .questionArea {
                            .selectArea {
                                .questionBtn {
                                    width: 100%;
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
            .plan {
                .inner {
                    .boxs {
                        .box {
                            .item {
                                .areas {
                                    display: table;
                                    margin: auto;
                                    .area {
                                        display: block;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                    .result {
                        p {
                            font-size: 1.1rem;
                        }
                        .recommendPlan {
                            font-size: 1.2rem;
                        }
                        table {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
    footer {
        section {
            background-color: $black;
            .inner {
                width: 1200px;
                margin: auto;
                padding: 70px;
                .top {
                    margin-bottom: 50px;
                    overflow: hidden;
                    ul {
                        float: left;
                        li {
                            float: left;
                            a {
                                position: relative;
                                margin-right: 20px;
                                color: $white;
                                &:after {
                                    content: '';
                                    display: block;
                                    width: 1px;
                                    height: 80%;
                                    background-color: $darkgray;
                                    position: absolute;
                                    top: 4px;
                                    right: -12px;
                                }
                            }
                            &:last-child {
                                a {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    dl {
                        float: right;
                        text-align: right;
                        color: $white;
                        font-size: 1.2rem;
                        dt {
                            float: left;
                            margin-right: 5px;
                            margin-bottom: 5px;
                        }
                        dd {
                            float: left;
                            margin-right: 15px;
                            color: $lightpoint;
                            font: {
                                size: 1.3rem;
                                weight: bold;
                            }
                        }
                    }
                }
                .bottom {
                    ul {
                        float: left;
                        li {
                            float: left;
                            a {
                                position: relative;
                                margin-right: 20px;
                                color: $gray;
                                &:after {
                                    content: '';
                                    display: block;
                                    width: 1px;
                                    height: 80%;
                                    background-color: $darkgray;
                                    position: absolute;
                                    top: 4px;
                                    right: -12px;
                                }
                            }
                            &:last-child {
                                a {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    span {
                        float: right;
                        color: $darkgray;
                    }
                }
            }
        }
        @media screen and (max-width: $lg) {
            section {
                overflow: hidden;
                .inner {
                    width: 100%;
                    padding: 30px;
                    overflow: hidden;
                    .top {
                        margin-bottom: 30px;
                        ul {
                            float: none;
                            display: table;
                            margin: auto;
                            margin-bottom: 40px;
                            overflow: hidden;
                        }
                        dl {
                            float: none;
                            text-align: center;
                            dd {
                                margin-bottom: 10px !important;
                            }
                            dt, dd {
                                float: none;
                                width: 100%;
                                margin-right: 0;
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .bottom {
                        float: none;
                        ul {
                            float: none;
                            li {
                                float: none;
                                margin-bottom: 5px;
                                text-align: center;
                                font-size: 0.9rem;
                                a {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                        span {
                            float: none;
                            display: block;
                            margin: auto;
                            margin-top: 20px;
                            text-align: center;
                            line-height: 1.2rem;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}